body{
    margin: 0;
    width:100%;
    height:100%;
    font-family: "Montserrat", Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    background: linear-gradient(rgb(47,85,151), rgb(0,151,198) 27% ,rgb(246,248,252) 100%);

}

.initial-button{
    display: block;
    position: absolute;
    border: none;
    color: rgb(56,87,35);
    left: 20vh; 
    text-align: center;
    font-size:30px;
    font-size: 6vh; /*scala a view height*/
    height: 120px;
}
.initial-button:hover{
    cursor: pointer;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');;
    src: local('Montserrat/Montserrat-Bold.ttf'), url('Montserrat/Montserrat-Bold.ttf') format('truetype');
  }


.container{
    display: block;
    position: absolute;
}

.keys_button{
    position: absolute;
    color: white;   
    font-size: 4.5vh;
}
.keys_button:hover{
    cursor: pointer;
}