body{
    margin: 0;
    width:100%;
    height:100%;
    font-family: "Montserrat", Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    background: linear-gradient(rgb(47,85,151), rgb(0,151,198) 27% ,rgb(246,248,252) 100%);
    background-repeat: no-repeat;
}

.initial-button{
    display: block;
    position: absolute;
    border: none;
    color: rgb(56,87,35);
    left: 20vh;
    text-align: center;
    font-size: 5vh;
    height: 10vh;
}

.initial-button:hover{
    cursor: pointer;
}

#goBack{
    background-color: rgb(56,87,35);
    clip-path: polygon(40% 0, 31% 40%, 100% 40%, 100% 60%, 31% 60%, 40% 100%, 0 50%);
    width: 7vh;
    height: 7vh;
}

.close-button{
    position: absolute;
    border: none;
    background-color: rgb(56,87,35);
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    width: 6vh;
    height: 6vh;
}
.close-button:hover{
    cursor: pointer;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');;
    src: local('Montserrat/Montserrat-Bold.ttf'), url('Montserrat/Montserrat-Bold.ttf') format('truetype');
  }

@font-face{
    font-family: 'MontserratLight';
    src: url('Montserrat/Montserrat-Light.ttf') format('truetype');;
    src: local('Montserrat/Montserrat-Light.ttf'), url('Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'MontserratRegular';
    src: url('Montserrat/Montserrat-Regular.ttf') format('truetype');;
    src: local('Montserrat/Montserrat-Regular.ttf'), url('Montserrat/Montserrat-Regular.ttf') format('truetype');
}


.container{
    display: block;
    position: absolute;
}

.keys_button{
    position: absolute;
    color: white;
    font-size: 4.5vh;
}
.keys_button:hover{
    cursor: pointer;
}

@keyframes sliding{
    from{top:100vh;height:0vh;}
    to{top:65vh;height:35vh;}
}
@keyframes sliding-out{
    from{top:65vh;height:35vh;}
    to{top:100vh;height:0vh;}
}

.container-synth{
    position:absolute;
    top:65vh;
    display:none;
    width:100%;
    height:35vh;
    background:linear-gradient(rgb(198, 153, 99) , rgb(115,95,68));
    animation-name:sliding;
    animation-duration:0.2s;
    animation-timing-function:linear;
    /* z-index: -1; */
}

.container-synth-closing{
    top:100vh;
    animation-name:sliding-out;
    animation-duration:0.2s;
    animation-timing-function:linear;
}

/* .disable_synth_container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
 } */


.synth_window{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-knob{
    outline: none;
}

.roots_container{
    position: relative;
    height: 11vh;
    width: 20vh;
    left: 50vw;
    transform: translate(-10vh);

}

 #rootsCanvas{
    height: 100%;
    width: 100%;
    position: relative;
}

.oscillators{
    position: absolute;
    display:flex;
    top: 15%;
    left: 13%;
    height: 8vh;
    width: 6vh;
    z-index: 1;
    box-sizing: border-box;
}

.oscillators_container{
    position: relative;
    height: 100%;
    width: 3vh;
    box-sizing: border-box;
    text-align: left;
    align-content: left;
    align-items: left;
}



.osc-label{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.env{
    position: absolute;
    top: 15%;
    left: 20%;
    height: 8vh;
    width: 40vh;
    display: inline-flex;
    z-index: 1;
    box-sizing: border-box;
}

#envelopeCanvas{
    width : 55%;
    height : 90%;
    background : rgba(80, 54, 44,0);
    position: relative;
    box-sizing: border-box;
}

.env_container{
    height: 100%;
    width: 40%;
    position: relative;
    display: inline-flex;
    /*top: 5%;*/
    box-sizing: border-box;
}

.env_label_container{
    color:  rgb(115, 95, 68);
    position: relative;
    font-size: 1.5vh;
    height: 100%;
    width: 10%;
    box-sizing: border-box;
}

.env_slider_container{
    position: relative;
    height: 100%;
    width: 90%;
    display: grid;
    /*top: 5%;  */
    box-sizing: border-box;
}

.envelopeSlider {
    -webkit-appearance : none;
    background : rgb(115, 95, 68);
    width : 80%;
    height: 0.5vh;
    /*opacity: 0.8;*/
    -webkit-transition: .2s;
    transition: opacity .2s;
    outline: none;
  }

  .envelopeSlider:hover {
    opacity: 100;
  }

  .envelopeSlider::-webkit-slider-thumb {
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-appearance: none;
    width: 1.7vh;
    height: 1.7vh;
    background: rgb(115, 95, 68);
    /* rgb(198, 153, 99) */
    cursor: pointer;
    -webkit-transition: .3s;
    transition: all .3s;
  }

  .envelopeSlider::-webkit-slider-thumb:hover{
    background-color:rgb(73, 60, 43);
    border-radius: 40%;
  }

.filter{
    position: absolute;
    height: 35%;
    width: 29vh;
    top: 55%;
    left: 20%;
    display: inline-flex;
    box-sizing: border-box;
    box-sizing: border-box;
}

.filters_container{
    position: relative;
    margin:0 auto;
    height: 100%;
    width: 30%; 
    /*top: 1vh;
    left: 10%;*/
    box-sizing: border-box;
}



.modifier_container{
    text-align: center;
    font-size: 1.5vh;
    position: relative;
    width:100%;
    box-sizing: border-box;
}

.modcontainer{
    position: relative;
    display:inline-block;
    height:100%;
    width:50%;
    font-size: 1.5vh;
    text-align: center;
    color:rgb(73, 60, 43);
    margin-left:5vh;
}
.modifiers_container{
    position: relative;
    width:80%;
    height: 100%;
    display: inline-flex;
    box-sizing: border-box;
}

.exagon{
    width: 10.625vh;
    height: 8.44vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: rgb(115, 95, 68);
    /* background-color: rgb(199, 113, 0); */
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    box-sizing: border-box;
    box-sizing: border-box;
}

/*.filter_modifier{
    position: relative;
    width:50vh;
    height:50vh;
    box-sizing: border-box;
    border:5px solid blue;
}*/


.effects{
    position: absolute;
    display: flex;
    top: 55%;
    right: 20%;
    height: 12vh;
    width: 42vh;
    display: inline-flex;
    box-sizing: border-box;
    box-sizing: border-box;
}

.effect_container{
    height: 100%;
    width:30%;
    text-align: center;
    position: relative;
    /*margin-left: 20px;*/
    font-size: 1.5vh;
    box-sizing: border-box;
    color:rgb(73, 60, 43);
}



.led-container{
    position: relative;
    margin:0 auto;
    height: 100%;
    width: 8%;
    box-sizing: border-box;
}


.output{
    position: absolute;
    display: flex;
    top: 15%;
    right: 13%;
    height: 10vh;
    width: 42vh;
    font-size: 1.5vh;
    box-sizing: border-box;
    color:rgb(115, 95, 68);
    margin:0 auto;
    box-sizing: border-box;
}

.output_container{
    position: relative;
    height: 100%;
    width: 3.3vh;
    box-sizing: border-box;
    text-align: bottom;
    vertical-align: bottom;
}

.selector_label_container{
    height: 100%;
    width:30%;
    display: inline-block;
    box-sizing: border-box;
    margin:0 auto;
}

.selector_container{
    display:flex;
    height: 25%;
    width:100%;
    box-sizing: border-box;
    margin:0 auto;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}


.main_out_container{
    text-align: center;
    /* border: 1px solid black; */
    height: 100%;
    width:30%;
    position: relative;
    /*left: 30%;*/
    box-sizing: border-box;
}

 .ext_activeLed{
    position: relative;
    margin:0 auto;
    box-sizing: border-box;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    -webkit-appearance: none;
    background:  rgb(115, 95, 68);;
    transition: all 0.15s linear;
    outline: none;
    cursor: pointer;
    height:100%;
    width:100%;  
    box-sizing: border-box;
}


.activeLed{
    /* background: linear-gradient(grey,white);
    box-shadow: 0px 0px 10px 1px black inset,
                0px 0px 10px 5px white inset;  */
    position:relative;
    margin:0 auto;
    box-sizing: border-box;

    clip-path: polygon(33% 16%, 67% 16%, 85% 50%, 67% 84%, 33% 84%, 15% 50%);
    -webkit-appearance: none;
    position: relative;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: rgb(187, 144, 94);
    transition: all 0.15s linear;
    vertical-align: top;
}

 .activeLed:checked{
    /* background: rgb(255, 226, 226);
    box-shadow: 0px -0.5px 7px 2px red,
                0px 0px 4px 1px rgb(75, 56, 56) inset,
                0px 1px 4.5px 5px red inset; */

    background:  rgb(115, 95, 68);
}

.osc{
    position: relative;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin:0 auto;
    height: 100%;
    width: 100%;
    /*border: 2px solid rgb(182, 156, 146);
     background: linear-gradient(grey,white);
    box-shadow: 0px 0px 10px 1px black inset,
                0px 0px 10px 5px white inset;*/
    background: rgb(187, 144, 94);
    transition: all 0.15s linear;
    vertical-align: top; 
}

.filter_type{
    background: rgb(153,122,82);
}
.activeEffect{
    position: relative;
    /*right: 50%;
    top: 15%;*/
    box-sizing: border-box;
    background: rgb(153,122,82);
}



.container-checkbox{
    position:relative;
    margin:0 auto;
    width:65%;
    height:1.8vh;
    box-sizing: border-box;
    vertical-align: middle;
    margin-top:0.5vh;
    box-sizing: border-box;
}

 /* .osc_container{
    border: 1px solid black; 
} */

.osc:checked{
    /* background: rgb(255, 226, 226);
    box-shadow: 0px -0.5px 7px 2px red,
                0px 0px 4px 1px rgb(75, 56, 56) inset,
                0px 1px 4.5px 5px red inset; */
    background:  rgb(115, 95, 68);
}

.container-options{
    display: none;
    position: absolute;
    float:right;
    background-color: rgba(255, 255, 255, 0);
    left: 95%;
    transform: translateX(-5vh);
    top:92.5vh;
    width:11vh;
    height: 3vh;
    z-index:1;
    animation-name:sliding-options-down;
    animation-duration:0.2s;
    animation-timing-function:linear;
}

.container-options-open{
    top:60vh;
    width:7.15vh;
    height:1.95vh;
    transform: translateX(-3.25vh);
    animation-name:sliding-options-up;
    animation-duration:0.2s;
    animation-timing-function:linear;
}

@keyframes sliding-options-up{
    from{width:11vh;height:3vh;top:92.5vh;transform: translateX(-5vh);}
    to{width:7.15vh;height:1.95vh;top:60vh;transform: translateX(-3.25vh);}
}
@keyframes sliding-options-down{
    from{width:7.15vh;height:1.95vh;top:60vh;transform: translateX(-3.25vh);}
    to{width:11vh;height:3vh;top:92.5vh;transform: translateX(-5vh);}
}

.save-button{
    position: relative;
    border: none;
    background-image: url("img/save.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:50%;
    height: 100%;
    cursor: pointer;
    filter: hue-rotate(90deg);
}

.save-button .tooltiptext{
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
    visibility: hidden;
    width: 11vh;
    right:10%;
    bottom:10vh;
    background-color: rgba(80, 124, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    font-size: 2vh;
    z-index: 1;
}
.save-button:hover .tooltiptext{
    visibility: visible;
}

.name-song{
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
    position: absolute;
    display : none;
    min-width: 12.5vh;
    max-width:25vh;
    min-height:0.625vh;
    max-height:6.25vh;
    bottom:10vh;
    right:1%;
    font-size:2.5vh;
    padding-right:1vh;
    padding-left:1vh;
    background-color:rgb(56,87,35);
    border:none;
    color:white;
    outline:none;
    resize: none;
    text-align:center;
    overflow: scroll;
    z-index:2;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.name-song::-webkit-scrollbar {
    display: none;
  }

.button-synth{
    position: relative;
    border: none;
    background-image: url("img/synth.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:50%;
    height:100%;
    cursor: pointer;
}
.button-synth .tooltiptext{
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
    visibility: hidden;
    width: 6.25vw;
    background-color: rgb(56,87,35);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    font-size: 1.25vw;
    z-index: 1;
    top:-5vh;
    right:-0.5vh;
}
.button-synth:hover .tooltiptext{
    visibility: visible;
}

.textarea-songs{
    display:none;
    position:absolute;
    top:50%;
    left:1vh;
    width:29%;
    height:4vh;
    background-color: rgba(0, 0, 0, 0);
    color:rgb(56,87,35);
    overflow: scroll;
    outline:none;
    font-size: 2.5vh;
    padding:1vh;
    padding-left: 4vh;
    z-index: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.textarea-songs::-webkit-scrollbar {
    display: none;
  }

.notification-screen{
    position:absolute;
    display:inline;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.85);
    animation-name:zoom-out;
    animation-duration:0.2s;
    animation-timing-function:ease-in;
    font-family: 'MontserratRegular';
    z-index:2;
}

.notification-screen-closing{
    animation-name:zoom-in;
    animation-duration:0.2s;
    animation-timing-function:ease-in;
}

@keyframes zoom-out{
    from{width:150%;height:150%;background-color: rgba(0,0,0,0);}
    to{width:100%;height:100%;background-color: rgba(0,0,0,0.85);}
}
@keyframes zoom-in{
    from{width:100%;height:100%;background-color: rgba(0,0,0,0.85);}
    to{width:150%;height:150%;background-color: rgba(0,0,0,0);}
}

.main-container-notification{
    position:relative;
    display:flex;
    margin: 0 auto;
    width:70vw;
    min-width:500px;
    height:55vh;
    transform: translateY(20vh);
}

.main-container-notification2{
    position:relative;
    display:flex;
    margin: 0 auto;
    width:70vw;
    min-width:500px;
    height:40vh;
    transform: translateY(20vh);
}

.container-listsongs{
    position:relative;
    margin: 0 auto;
    width:25vw;
    min-width:250px;
    height:25.7vh;
}

.button-notification{
    clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 100% 100%, 4% 100%, 0% 50%);

    position:relative;
    margin: 0 auto;
    width:25vw;
    height:4vh;
    margin-top:1vh;
    min-width:100px;
    min-height:15px;
    text-align:center;
    font-size:3vh;
    color:white;
    cursor:pointer;
}

.button-notification:hover{
    font-family: 'Montserrat';
}

.button-darkgreen{
    background-color: rgb(56,87,35);
}

.button-green{
    background-color: rgb(80, 124, 50);
}

.button-lightgreen{
    background-color: rgb(124,162,62);
}

.button-grey{
    background-color: rgb(51,63,80);
}

.non-clickable:hover{
    cursor:default;
    font-family: 'MontserratRegular';
}

.buttons-songs{
    position:relative;
    box-sizing: border-box;
    margin:0 auto;
    padding-top:2vh;
    width:100%;
    height:78%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.buttons-songs::-webkit-scrollbar {
    display: none;
  }

.button-song{
    position:relative;
    margin:0 auto;
    width:100%;
    height:4vh;
    color:white;
    font-size: 2.5vh;
    text-align: left;
    font-family: 'MontserratLight';
    cursor:pointer;
}

.button-song:hover{
    font-family: 'MontserratRegular';
}

.notification-title{
    position:relative;
    margin:0 auto;
    width:100%;
    height:10vh;
    font-size:3vh;
    color:white;
    text-align:left;
    font-family: 'Montserrat';
}

.notification1-text{
    position:relative;
    top:5vh;
    margin:0 auto;
    width:60vw;
    height:5vh;
    font-size:4vh;
    color:white;
    text-align:left;
    font-family: 'MontserratRegular';
}

.notification2-text{
    position:relative;
    margin:0 auto;
    width:100%;
    height:5vh;
    font-size:4vh;
    color:white;
    text-align:left;
    font-family: 'MontserratRegular';
}

.container-transparent{
    position:absolute;
    background-color: rgba(0,0,0,0);
    width:100%;
    height:100%;
    z-index:0;

}

@media (max-width: 805px) {
    #envelopeCanvas {
        width:30%;
      height:60%;
    }
    .oscillators{
        left:1vw;
    }
    .env{
        left:10%;
    }
    .output{
        right:1vw;
    }
    .filter {
        left:1vw;
    }
    .effects {
        right:1vw;
    }
    .modcontainer{
        margin-left:2vw;
    }
}