body{
    margin: 0;
    width:100%;
    height:100%;
    font-family: "Montserrat", Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    background: linear-gradient(rgb(47,85,151), rgb(0,151,198) 27% ,rgb(246,248,252) 100%);
    background-repeat: no-repeat;

}

.initial-button{
    display: block;
    position: absolute;
    border: none;
    color: rgb(56,87,35);
    left: 20vh; 
    text-align: center;
    font-size: 5vh;
    height: 60px;
}
.initial-button:hover{
    cursor: pointer;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');;
    src: local('Montserrat/Montserrat-Bold.ttf'), url('Montserrat/Montserrat-Bold.ttf') format('truetype');
  }


.container{
    display: block;
    position: absolute;
}

.keys_button{
    position: absolute;
    color: white;   
    font-size: 4.5vh;
}
.keys_button:hover{
    cursor: pointer;
}

@keyframes sliding{
    from{top:100vh;height:0vh;}
    to{top:65vh;height:35vh;}
}
@keyframes sliding-out{
    from{top:65vh;height:35vh;}
    to{top:100vh;height:0vh;}
}

.container-synth{
    position:absolute;
    top:65vh;
    display:none;
    width:100%;
    height:35vh;
    background:linear-gradient(rgb(198,153,99) , rgb(115,95,68));
    animation-name:sliding;
    animation-duration:0.2s;
    animation-timing-function:linear;
}

.container-synth-closing{
    top:100vh;
    animation-name:sliding-out;
    animation-duration:0.2s;
    animation-timing-function:linear;
}






































.synth_window{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.oscillators{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 10%;
    width: 20%;
    /* background-image: url(wnoise.png);
    background-color:rgb(185, 185, 51) ; */
}

.osc{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    border: 2px solid rgb(182, 156, 146);
    /* background: linear-gradient(grey,white);
    box-shadow: 0px 0px 10px 1px black inset,
                0px 0px 10px 5px white inset;    */
    background: rgb(182, 156, 146);
    transition: all 0.15s linear;
}

.osc_container{
    text-align: center;
    display: inline-block;
    margin: 5%;
    margin-top: 0%;
    margin-left: 8%;
}

.osc:checked{
    /* background: rgb(255, 226, 226);
    box-shadow: 0px -0.5px 7px 2px red,
                0px 0px 4px 1px rgb(75, 56, 56) inset,
                0px 1px 4.5px 5px red inset; */
    background:  rgb(80, 54, 44);
}
.env{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 45%;
    width: 15%;
    /* background-image: url(wnoise.png);
    background-color:rgb(206, 91, 24) ; */
}

.env_container{
    text-align: start;
    display: inline-block;
    margin-left: 5%;
}

 .envelopeSlider {
    -webkit-appearance : none;
    background : rgb(80, 54, 44);
    width : 80%;
    height: 7px;
    /* border : 2px solid rgba(86, 25, 0, 1); */
    border-radius: 50px;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .envelopeSlider:hover {
    opacity: 100;
  }
  
  .envelopeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 13px;
    border-radius: 50%; 
    background:   rgb(112, 79, 66);
    border: 2px solid rgb(80, 54, 44);
    cursor: pointer;
    -webkit-transition: .3s;
    transition: border .3s;
  }
  
  .envelopeSlider::-webkit-slider-thumb:hover{
    border: 2.5px solid rgb(189, 159, 148);
  }
  


#envelopeCanvas {
    width : 200px;
    height : 100px;
    background : rgb(80, 54, 44);
    /* border : 3px solid grey; */
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
  }

.filter{
    position: absolute;
    top: 50%;
    left: 27.5%;
    height: 35%;
    width: 20%;
    /* background-image: url(wnoise.png);
    background-color: rgb(94, 214, 94); */
}


.group_container{
    text-align: center;
    display: inline-block;
    margin: 8%;
    margin-top: 2%;
    margin-left: 14%;
}

.filter_type{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    border: 2px solid rgb(182, 156, 146);
    /* background: linear-gradient(grey,white);
    box-shadow: 0px 0px 10px 1px black inset,
                0px 0px 10px 5px white inset;    */
    background:  rgb(148, 119, 108);
    transition: all 0.15s linear;
}

.filter_type:checked{
    /* background: rgb(255, 226, 226);
    box-shadow: 0px -0.5px 7px 2px red,
                0px 0px 4px 1px rgb(75, 56, 56) inset,
                0px 1px 4.5px 5px red inset; */
    background:  rgb(80, 54, 44);
}


.modifiers_container{
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: -2%;
    margin-left: 15%;
}

.ext_circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 15px solid black;
    position: absolute;
}

.filter_modifier{
    position: relative;
}
  

.effects{
    position: absolute;
    top: 50%;
    left: 52.5%;
    height: 35%;
    width: 30%;
    background-image: url("w2noise.png");
    background-color: lightblue;
}

.effect_container{
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-left: 13%;
}



.output{
    position: absolute;
    top: 10%;
    left: 75%;
    height: 30%;
    width: 20%;
    background-color: rgba(139, 118, 21, 0.808);
    background-image: url(w2noise.png);
}


.activeLed{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgb(182, 156, 146);
    position: relative;
    /* background: linear-gradient(grey,white);
    box-shadow: 0px 0px 10px 1px black inset,
                0px 0px 10px 5px white inset;    */
    background:  rgb(182, 156, 146);
    transition: all 0.15s linear;
}

 .activeLed:checked{
    /* background: rgb(255, 226, 226);
    box-shadow: 0px -0.5px 7px 2px red,
                0px 0px 4px 1px rgb(75, 56, 56) inset,
                0px 1px 4.5px 5px red inset; */
    background:  rgb(80, 54, 44);
}

#envelopeCanvas {
    width : 200px;
    height : 100px;
    background : rgb(0, 0, 0);
    border : 3px solid grey;
    border-radius: 10px;
    margin: 4px;
  }


.container-options{
    display: none;
    position: absolute;
    float:right;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    right: 5vh;  
    top:90vh;
    width:100px;
    height: 20px;
    z-index:1;
}

.save-button{
    position: relative;
    border: none;
    background-color: rgb(56,87,35);
    width:50%;
    height: 100%;
}

.save-button .tooltiptext{
    visibility: hidden;
    width: 7.5vh;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    font-size: 16px;
    z-index: 1;
}
.save-button:hover .tooltiptext{
    visibility: visible;
}

.name-song{
    position: absolute;
    display : none;
    min-width: 100px;
    max-width:200px;
    min-height:5px;
    max-height:50px;
    bottom:10vh;
    right:5vh;
    font-size:15.4px;
    background-color:rgb(56,87,35);
    border:none;
    color:white;
    outline:none;
    resize: none;
    text-align:center;
    overflow: scroll;
}

.button-synth{
    position: relative;
    border: none;
    background-color: rgb(80, 124, 50);
    width:50%;
    height:100%;
}
.button-synth .tooltiptext{
    visibility: hidden;
    width: 7.5vh;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    font-size: 16px;
    z-index: 1;
}
.button-synth:hover .tooltiptext{
    visibility: visible;
}

.textarea-songs{
    display:none;
    position:absolute;
    top:49%;
    left:1vh;
    width:31%;
    height:4vh;
    background-color: rgba(0, 0, 0, 0);
    color:rgb(56,87,35);
    overflow: scroll;
    outline:none;
    border-bottom: 2px solid rgb(56,87,35);
    font-size: 3vh;
    padding: 1vh;
}
